* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;

}
.main_box{
    color: white;
    height: 100vh;

    background-image: url("photo.jpg");
    background-size: cover;
    
}
.btn_one{
    font-size: 28px;
    position: absolute;
    left: 10px;
    line-height: 60px;
    font-weight: 800;
}
.sidebar_menu{
    position: absolute;
    /* left: -300px; */
    background-color: rgba(255, 255, 255, 0.066);
    width: 300px;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.834);
}
.sidebar_menu .logo a{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .menu {
    color: white;
}